.button {
  border: none;
  background: linear-gradient(107deg, #cc2b5e 10.11%, #753a88 90.74%);
  height: fit-content;
  min-height: 3.5rem;
  padding: 0.7rem 1.3rem;
  border-radius: 2rem;
  color: #fff;
  font-family: 'Nunito';
  font-weight: 700;
  cursor: pointer;
  font-size: inherit;
}
